body{
  color: #40514E;
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color: #e4f9f5;

  position: relative;
  padding: 100px 0 0 0;
}

.middle-container{
  margin: 100px 0;
}

.intro{
  width: 30%;
  margin: auto;

}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.bottom-container{
 margin: 100px 0 0 0;
 background-color: #66BFBF;
 padding: 50px 0 20px;
}

.closing{
  width: 33%;
  margin: 40px auto 60px;
}

.copy{
  color: #EAF6F6;
  font-size:0.75rem;
  padding: 20px 0;
}

.bottomCloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.topCloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.img-profile{
  border-radius: 100%;
}

.img-skills{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img2-skills{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.Contact-me-btn {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
   background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
   background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
   background-image: -o-linear-gradient(top, #11999E, #66BFBF);
   background-image: -webkit-gradient(to bottom, #11999E, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.Contact-me-btn:hover {
   border: solid #99C624 1px;
   background: #1C9E11;
   background-image: -webkit-linear-gradient(top, #1C9E11, #67D141);
   background-image: -moz-linear-gradient(top, #1C9E11, #67D141);
   background-image: -ms-linear-gradient(top, #1C9E11, #67D141);
   background-image: -o-linear-gradient(top, #1C9E11, #67D141);
   background-image: -webkit-gradient(to bottom, #1C9E11, #67D141);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
